/**
 * Color
 **/
color-grey-1 = #070707
color-grey-2 = #0E1421
color-grey-3 = #1E2435
color-grey-4 = #2B313F
color-grey-5 = #494D5A
color-grey-6 = #758296
color-grey-7 = #8C99A6
color-grey-8 = #B8BBC6
color-grey-9 = #BCBFC8
color-grey-10 = #090A0B
color-grey-11 = #787E91
color-grey-12 = #F4F4F4
color-grey-13 = #B2B2B2
color-grey-14 = #758296
color-grey-15 = #989EB1
color-grey-16 = #5F5F5F
color-grey-17 = #E7E7EA
color-grey-18 = #525252

grey-v2-1 = #DDDFE3

color-blue-1 = #3784FF
color-blue-2 = #3B99FF
color-blue-3 = #4B79FF
color-blue-4 = #7C9AFF
color-blue-5 = #ACBFFF
color-blue-6 = #BCCBFF
color-blue-7 = #D6E9FF
color-blue-8 = #DFE2EB
color-blue-9 = #E9F3FF
color-blue-10 = #F2F6FF
color-blue-11 = #F9FAFF
color-blue-12 = #2A6BF3
color-blue-13 = #0c8cf6
color-blue-14 = #488DFF
color-blue-15 = #455997
color-blue-16 = #C6D5F8
color-blue-17 = #06E2ED
color-blue-18 = #D1E9FD

color-line = #F0F0F0

color-red-1 = #FF798E

color-green-1 = #9BFFC8
color-green-2 = #51CF66

// font-weight
font-weight-thin = 100
font-weight-extra-light = 200
font-weight-light = 300
font-weight-regular = 400
font-weight-medium = 500
font-weight-semi-bold = 600
font-weight-bold = 700
font-weight-extra-bold = 800
font-weight-black = 900